<nav class=" flex p-3  mb-2 font-semibold  gap-6 justify-around bg-red-500 " >
 <h5><a class="py-2 px-3 hover:bg-pink-200 rounded-md text-white " href="/">HomeScape</a></h5>

 <h5><a class="py-2 px-3 hover:bg-pink-200 rounded-md text-white " href="/home">register</a></h5>
 <!-- <h5><a class="py-2 px-3 hover:bg-pink-200 rounded-md text-white " href="/cost">cost</a></h5> -->
 <h5><a class="py-2 px-3 hover:bg-pink-200 rounded-md text-white " href="/favorites">favorites</a></h5>
 <h5><a class="py-2 px-3 hover:bg-pink-200 rounded-md text-white " href="/bookings">Bookings</a></h5>
 <!-- <h5><a class="py-2 px-3 " href="/rating">rating</a></h5> -->
 <h5><a class="py-2 px-3 hover:bg-pink-200 rounded-md text-white " href="/host-homelists">Host-HomeLists</a></h5>
</nav>