<%- include('../partials/head') %>
<body>
  <section>
    <%- include('../partials/nav')%>
    <section class="p-6 " >
     <h1 class="bg-zinc-300 text-center rounded-lg " >First-Class</h1>
     <h3 class="p-4 text-center" >Rent for 1Day :30000</h3>
     
     <h3 class="p-4 text-center" >Rent for 1Month :100000</h3>
     
     <h3 class="p-4 text-center" >Rent for 6Months :200000</h3>
   
     <h3 class="p-4 text-center" >Rent for 1Year :300000000</h3>
    </section>
    <section class="p-6 " >
     <h1 class="bg-zinc-300 text-center rounded-lg " >Medium-Range</h1>
     <h3 class="p-4 text-center" >Rent for 1Day :10000</h3>
     
     <h3 class="p-4 text-center" >Rent for 1Month :10000</h3>
     
     <h3 class="p-4 text-center" >Rent for 6Months :100000</h3>
   
     <h3 class="p-4 text-center" >Rent for 1Year :30000000</h3>
    </section>
  </section>
    </section>
    <section class="p-6 " >
     <h1 class="bg-zinc-300 text-center rounded-lg " >Gereral-Range</h1>
     <h3 class="p-4 text-center" >Rent for 1Day :2000</h3>
     
     <h3 class="p-4 text-center" >Rent for 1Month :10000</h3>
     
     <h3 class="p-4 text-center" >Rent for 6Months :10000</h3>
   
     <h3 class="p-4 text-center" >Rent for 1Year :3000000</h3>
    </section>
  </section>
</body>
</html>