<%- include('../partials/head') %>
<body>
  <%- include('../partials/nav')%>
  <header class="py-4 px-5 shadow-lime-100 "> <h1 class="bg-slate-500 text-center px-5 py-3 rounded-lg" >thanks for registering </h1></header>
 
 <div class="text-center mt-3"><a class=" bg-slate-800 text-white px-5 py-3 rounded-lg " href="/">Go to Home</a></div> 
</body>
</html>