<%- include('../partials/head') %>
<body>
  <section>
    <%- include('../partials/nav')%>
    <section class="p-6 " >
     <h1 class="bg-zinc-300 text-center rounded-lg " >Location</h1>
     <h2 class="p-4 text-center" >pincode:50032</h2>
     
     <h3 class="p-4 text-center" >Main Branch :Hyderabad,lbnagar,flatNo-143</h3>
     
     <h3 class="p-4 text-center" >contact-us:airbnggmail.com/9393443945
   
    
    </section>
   
  </section>
</body>
</html>