<%- include('../partials/head.ejs') %>
<section class="w-screen" >
 
    <%- include('../partials/nav.ejs') %>
    <div class=" w-screen p-10 ml-10   " >
      <div class="w-1/2 mx-auto">
        <h3>ratings are given below:</h3>
        <ul>
          <h1>first-class</h1>
          <li>value-for-money :4.0</li>
          <li>experience :4.7</li>
        </ul>
      </div>
      
    </div>
   
  
</section>