.head{
  font-size: medium;
  color: rgb(240, 240, 246);
  text-align: center;
  background-color: blueviolet;
  margin-block: 10px;
  height: 20px;
  padding: 15px;
  border-radius: 15px;
}
.host{
  margin-top: 10px;
  text-decoration: none;
  outline: none;
  border: 2px solid blueviolet;
  padding:5px ;
  border-radius: 5px;
}